<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pri.tangjiang.graduationdesign.dao.AttendanceRecordMapper" >
  <resultMap id="BaseResultMap" type="pri.tangjiang.graduationdesign.bean.AttendanceRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modify_time" jdbcType="TIMESTAMP" />
    <result column="work_start_time" property="work_start_time" jdbcType="TIMESTAMP" />
    <result column="work_end_time" property="work_end_time" jdbcType="TIMESTAMP" />
    <result column="work_time" property="work_time" jdbcType="VARCHAR" />
    <result column="user_id" property="user_id" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, modify_time, work_start_time, work_end_time, work_time, user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tj_attendance_record
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectByUseridAndDaye" resultType="pri.tangjiang.graduationdesign.bean.AttendanceRecord">
      SELECT
        	*
        FROM
        	tj_attendance_record
        WHERE
        	user_id = #{userId}
        	AND DATE( create_time ) = DATE(#{time} )
    </select>
  <select id="currentMonthByUserId" resultType="pri.tangjiang.graduationdesign.bean.AttendanceRecord">
    SELECT
    	*
    FROM
    	tj_attendance_record
    WHERE
    	user_id = #{userId}
    	AND YEAR ( create_time ) = YEAR (#{currentTime})
    	AND MONTH ( create_time ) = MONTH (#{currentTime})
  </select>
  <select id="listRecod" resultType="pri.tangjiang.graduationdesign.bean.vo.RecordVO">
    SELECT
    	COUNT(1) count,
    	DATE(create_time) date
    FROM
    	tj_attendance_record
    WHERE
      YEAR ( create_time ) = YEAR (#{currentTime})
    	AND MONTH ( create_time ) = MONTH (#{currentTime})
    	GROUP BY DATE(create_time)
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tj_attendance_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="pri.tangjiang.graduationdesign.bean.AttendanceRecord" useGeneratedKeys="true" keyProperty="id" >
    insert into tj_attendance_record (create_time, modify_time, work_start_time, 
      work_end_time, work_time, user_id
      )
    values (#{create_time,jdbcType=TIMESTAMP}, #{modify_time,jdbcType=TIMESTAMP}, #{work_start_time,jdbcType=TIMESTAMP}, 
      #{work_end_time,jdbcType=TIMESTAMP}, #{work_time,jdbcType=VARCHAR}, #{user_id,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="pri.tangjiang.graduationdesign.bean.AttendanceRecord" useGeneratedKeys="true" keyProperty="id" >
    insert into tj_attendance_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="modify_time != null" >
        modify_time,
      </if>
      <if test="work_start_time != null" >
        work_start_time,
      </if>
      <if test="work_end_time != null" >
        work_end_time,
      </if>
      <if test="work_time != null" >
        work_time,
      </if>
      <if test="user_id != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_time != null" >
        #{modify_time,jdbcType=TIMESTAMP},
      </if>
      <if test="work_start_time != null" >
        #{work_start_time,jdbcType=TIMESTAMP},
      </if>
      <if test="work_end_time != null" >
        #{work_end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="work_time != null" >
        #{work_time,jdbcType=VARCHAR},
      </if>
      <if test="user_id != null" >
        #{user_id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pri.tangjiang.graduationdesign.bean.AttendanceRecord" >
    update tj_attendance_record
    <set >
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_time != null" >
        modify_time = #{modify_time,jdbcType=TIMESTAMP},
      </if>
      <if test="work_start_time != null" >
        work_start_time = #{work_start_time,jdbcType=TIMESTAMP},
      </if>
      <if test="work_end_time != null" >
        work_end_time = #{work_end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="work_time != null" >
        work_time = #{work_time,jdbcType=VARCHAR},
      </if>
      <if test="user_id != null" >
        user_id = #{user_id,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="pri.tangjiang.graduationdesign.bean.AttendanceRecord" >
    update tj_attendance_record
    set create_time = #{create_time,jdbcType=TIMESTAMP},
      modify_time = #{modify_time,jdbcType=TIMESTAMP},
      work_start_time = #{work_start_time,jdbcType=TIMESTAMP},
      work_end_time = #{work_end_time,jdbcType=TIMESTAMP},
      work_time = #{work_time,jdbcType=VARCHAR},
      user_id = #{user_id,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>